<div class="container">
<div class="row">
<div col-md-6 text-center>


<div class= "form-control" >

<h1>Add a Historical Event</h1>
<hr>
<%= form_for @event do |f| %>
<form>
<div class="form-group form-control">
Title of event:
<%= f.text_field :title, placeholder: "Title" %>

<div>
Year:
<%= f.number_field :year %>
<br>
Date:
<%= f.date_field :date, placeholder: "Date", :prompt => :month %>
</div>
<div>
	<%= f.collection_select(:location_id, Location.all, :id, :name) %> 
	<!-- Button trigger modal to add location-->
	<button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#myModal">
  		Add Location
	</button>
	
</div>
<div>
Link:
<%= f.text_field :link, placeholder: "Link" %>
</div>
<div>
Image:
<%= f.text_field :image, placeholder: "Image URL" %>
</div>
<div>
Details:<br>
<%= f.text_area :content, placeholder: "Tell us about this event" %>
</div>
<div>
Tags:<br>
<%= f.check_box :tag_art  %> Art and Culture
<%= f.check_box :tag_people  %> People
<%= f.check_box :tag_science  %> Science
<%= f.check_box :tag_politics  %> Politics
<%= f.check_box :tag_conflict  %> Conflict
<%= f.check_box :tag_nature  %> Nature
<%= f.check_box :tag_sports  %> Sports
</div>

<%= f.submit "Submit" %>
<% end %>


<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Add a Location</h4>
      </div>
      <div class="modal-body">

      	<%= form_for @location, url: locations_path do |f| %>
      	<div>
		Title of location:
		<%= f.text_field :name, placeholder: "Name" %>
		</div>
		<div>
		Address of location:
		<%= f.text_field :address, placeholder: "Address" %>
		</div>
		<div>
		Link to image:
		<%= f.text_field :image, placeholder: "Image" %>
		</div>
		<%= f.submit "Submit" %>
		<% end %>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default form-group" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary form-group">Add</button>
      </div>
		</form>
      </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>
</div>
</div>