<style>
.fa{ 
  color: white;
}

.fa-close{
  color: #A9B262;
}
</style>
<div class="container">
	<div class="row">
		<div>
			<h2><%= @event.title%></h2>
			<%= @event.date%><br>
			<%= @event.year%><br>
			<%= @event.content%><br>
			Tags:
			<% if @event.tag_art == true%><br>
			ART
			<% end %> 
			<% if @event.tag_people == true%><br>
			PEOPLE
			<% end %> 
			<% if @event.tag_science == true%><br>
			SCIENCE
			<% end %> 
			<% if @event.tag_politics == true%><br>
			POLITICS
			<% end %> 
			<% if @event.tag_conflict == true%><br>
			CONFLICT
			<% end %> 
			<% if @event.tag_nature == true%><br>
			NATURE
			<% end %> <br>
			created at <%= @event.created_at%><br>
			last updated<%= @event.updated_at%><br>	
			Location: <%=  @location.name %><br>
			<button class="">"edit this event"</button>
		</div>
	</div>
</div>