<section id= "banner-password"> 
	<div class="container">
		<h2>Forgot your password?</h2>

		<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
		<%= devise_error_messages! %>

		<form class="row">
			<div class="form-group">
				<%= f.email_field :email, autofocus: true,  placeholder: "Your Email", class: "form-control" %>
			</div>

			<div class= "hvr-wobble-vertical">
			<%= f.submit "SEND ME RESET PASSWORD INSTRUCTIONS", class: "btn btn-primary" %>
			</div>
			<% end %>

			
			<%= render "users/shared/links" %>
		</form>
	</div>
</section>

