
<% @locations.each do |l| %>

	<div class= "col-md-6">
	<div class="well text-center">
	<h1><%= l.name %></h1>
		<%= l.address %><br>
	Latitude: <%= l.lat %><br>
	Longitude: <%= l.lng %><br>
	<img src="/assets/<%= l.image %>" class="location-image" /img>
	Location added: <%= l.created_at %>
	</div>
	</div>
<% end %>
