<section id= "banner-paper"> 

<% @locations.each do |l| %>

	<section id="portfolio" class="darker">
	<div class= "container">
	<div class="well text-center">
	<h1><%= l.name %></h1>
		<%= l.address %><br>
	Latitude: <%= l.lat %><br>
	Longitude: <%= l.lng %><br>
	<img src="/assets/<%= l.image %>" class="location-image" /img>
	Location added: <%= l.created_at %>
	</div>
	</div>
<% end %>
</section>
</section>