
<section id= "banner-paper"> 

<style type="text/css">
    h3, a{font-family: 'Playfair Display', serif; color: black}
}
h2{font-family: 'Playfair Display SC', serif; font-weight: bold}
hr{    
	border: 0;
    border-bottom: 1px double #8E1F1D;;}
.rotate2 {
    transform: rotate(90deg);
    transition: .3s;
}
.everything{
	background-color: #F2C8B2;
	padding: 80px;
	border: double 5px ;

  background: 
    linear-gradient(
      rgba(242, 200, 178, 0.6),
      rgba(242, 200, 178, 0.7)
    ),
    url(/assets/paper-bg.jpg);
}

</style>
<div class="col-md-2"></div>
<div class="everything col-md-8">
<h3>What happened in ... </h3>
<h2><%= @location.name %>?</h2>

<hr>
	<% @events.each do |event| %>
        <div class="collapse-group"><a class="expand" href="#">
          <h4><%= event.date.year %> - <u><%= event.title %></u>

          <img class="hand" src="/assets/pointingright.png" width="30"></a></h4>
           <p class="collapse"> <%= event.content %> 
           <br>
           Tags:
          <% if event.tag_art == true%>
          &nbspART
          <% end %> 
          <% if event.tag_people == true%>
          &nbspPEOPLE
          <% end %> 
          <% if event.tag_science == true%>
          &nbspSCIENCE
          <% end %> 
          <% if event.tag_politics == true%>
          &nbspPOLITICS
          <% end %> 
          <% if event.tag_conflict == true%>
          &nbspCONFLICT
          <% end %> 
          <% if event.tag_nature == true%>
          &nbspNATURE
          <% end %> <br>
          created at <%= event.created_at.strftime('%c') %><br>
          last updated <%= event.updated_at.strftime('%c') %><br> 
          <%= link_to "EDIT THIS EVENT", edit_event_path(event) , method: :get, class: "btn button-primary" %>
          <% end %>
         
	<% end %>

            </div>
            </p>
</p>


<hr><a href="#back"><u>Back to Map.</u></a>
</div>
<script type="text/javascript">
$('.expand').on('click', function(e) {
    e.preventDefault();
	$(this).find('.hand').toggleClass('rotate2');

    var $collapse = $(this).closest('.collapse-group').find('.collapse');
    $collapse.collapse('toggle');
});
</script>

</section>