<section id= "banner-location"> 
<div class="container-location">

	<header>
	<h2>Locations</h2>
	<p2>WHAT HAPPENED IN YOUR LOCATION.</p2>
	</header>


			<% @locations.each do |l| %>


			<figure class="location-item col-md-4 col-sm-6" >

			<img src="/assets/<%= l.image %>" > </img>

			<figcaption class="mask">
			<div class= "maskpadding">

				<m1><%= l.name %></m1><br>
				<m2><%= l.address %><br>
				Latitude: <%= l.lat %><br>
				Longitude: <%= l.lng %><br>
				Location added: <%= l.created_at %></m2>
			</div>	
				</figcaption>
			</figure>

<% end %>

</div>

</section>
