<!DOCTYPE html>
<html>

<html lang="en-us">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>It Happened Here</title>

  <!-- Load fonts -->

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= Gon::Base.render_data %>
</head>
<body>
<header>
	
		<a href="" class="menu-toggle" id="nav-expander"><i class="fa fa-bars"></i></a>
		<!-- Offsite navigation -->
		<nav class="menu">
			<a href="#" class="close"><i class="fa fa-close"></i></a>
			<h3>Menu</h3>
			<ul class="nav">
				<li><a  href="/events">HOME</a></li>
				<li><a  href="/about">ABOUT</a></li>
				<li><a data-scroll href="/locations">LOCATIONS</a></li>
				<li><a data-scroll href="/team">TEAM</a></li>
			</ul>
			</nav>
			
	</div>


				<% if notice %>
				  <p class="alert alert-success"><%= notice %></p>
				<% end %>
				<% if alert %>
				  <p class="alert alert-danger"><%= alert %></p>
				<% end %>
              
            </ul>
          </nav>
        </div>
      </div>
    </header>

<%= yield %>

</body>
</html>
