<!DOCTYPE html>
<html>

<html lang="en-us">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>It Happened Here</title>

  <!-- Load fonts -->

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= Gon::Base.render_data %>
</head>
<body>
	<div class="jumbotron home home-fullscreen" id="home">
		<div class="mask"></div>
		<a href="#" class="logo">
		</a>
		<a href="" class="menu-toggle" id="nav-expander"><i class="fa fa-bars"></i></a>
		<!-- Offsite navigation -->
		<nav class="menu">
			<a href="#" class="close"><i class="fa fa-close"></i></a>
			<h3>Menu</h3>
			<ul class="nav">
				<li><a data-scroll href="#home">HOME</a></li>
				<li><a data-scroll href="#map">MAP</a></li>
				<li><a data-scroll href="#locations">LOCATIONS</a></li>
				<li><a data-scroll href="#about">ABOUT</a></li>
			</ul>
			</nav>

<div class="container">
			<div class="header-info">
				<h1>It Happened Here</h1>
				<p>Locating historical events within your city.
				</p>
				<a href="#" class="btn btn-primary">SIGN UP</a>
				<a href="#" class="btn btn-primary">LOG IN</a>
			</div>
		</div>
	</div>


<%= yield %>

</body>
</html>
