<!DOCTYPE html>
<html>

<html lang="en-us">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>It Happened Here</title>

  <!-- Load fonts -->
<link href='https://fonts.googleapis.com/css?family=Playfair+Display+SC' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Playfair+Display' rel='stylesheet' type='text/css'>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= Gon::Base.render_data %>
</head>
<body>
<header>
	
		<a href="" class="menu-toggle" id="nav-expander"><i class="fa fa-bars"></i></a>
		<!-- Offsite navigation -->
		<nav class="menu">
			<a href="#" class="close"><i class="fa fa-close"></i></a>
			<h3></h3>
			<ul class="nav">
				<li><%= link_to "HOME", home_path, method: :get%></li>
				<li><%= link_to "MAP", events_path, method: :get%></li>
				<li><%= link_to "LOCATIONS", locations_path, method: :get%> </li>
				<li><%= link_to "COMMUNITY", community_path, method: :get%></li>
				<li><%= link_to "ABOUT", about_path, method: :get%></a></li>
				
				<% if !current_user %>
				<li><%= link_to "SIGN UP", new_user_registration_path, method: :get%></li>
				 <li><%= link_to "LOGIN", new_user_session_path, method: :get%></li>
				<% end %>

				<% if current_user %>
				
				
				<li><%= link_to "USERS", users_path, method: :get%></li>
				<li><%= link_to "LOGOUT", destroy_user_session_path, method: :delete %><% end %></li>
			</ul>
			</nav>
			
	</div>


				<% if notice %>
				  <p class="alert alert-success"><%= notice %></p>
				<% end %>
				<% if alert %>
				  <p class="alert alert-danger"><%= alert %></p>
				<% end %>
              
            </ul>
          </nav>
        </div>
      </div>
    </header>
  

<%= yield %>

</body>
</html>
