<section id= "banner-signup"> 

    <div class="container">

        <h2>Sign Up</h2>
        <p>SIGN UP TO CHECK OUT OUR MAP AND ADD YOUR OWN EVENTS.</p>

        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= devise_error_messages! %>
          <form class="row">
                  <div class="form-group">
                    <%= f.username_field :username, autofocus: true, autocomplete: "off", placeholder: "Your Username", class: "form-control" %>
                  </div>

                  <div class="form-group">
                    <%= f.email_field :email, autofocus: true, autocomplete: "off", placeholder: "Your Email", class: "form-control" %>
                  </div>

                      <div class="form-group">
                      <%= f.password_field :password, autocomplete: "off", placeholder: "Your Password", class: "form-control" %> <% if @minimum_password_length %>
                          <em>(<%= @minimum_password_length %> characters minimum)</em>
                           <% end %><br />
                      </div>

                      <div class="form-group">
                          <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "Password Confirmation", class: "form-control" %> 
                      </div>

                      
                     <div class= "hvr-wobble-vertical">
                      <%= f.submit "SIGN UP", class: "btn btn-primary" %>
                      </div>
                      <% end %>
 
              <%= render "users/shared/links" %> 
          </form>
    </div>
  
</section>


</div>